<h1>Sign up</h1>

<form method="POST" action="/auth/new">

    <input type="text" name="username" id="username-input">
    <input type="password" name="password" id="password-input">
    <input type="submit" value="Sign Up">
</form>