<nav>
    <div class="left">
        <a href="/">Homepage</a>
        <a href="/pokemon">Favorites</a>
    </div>
    <div class="right">
        <a href="/auth/login">Log in</a>
        <a href="/auth/new">Sign Up</a>
        <a href="/auth/logout">Log Out</a>
    </div>
</nav>